* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    background-color: #000; /* темний фон для неону */
    overflow: hidden;
}

canvas {
    display: block;
}
